body {
    background-color: black;
    color: white;
    font-family: cursive;
}
h1 {
    color: springgreen;
}
h3 {
    color: tomato;
}
h2 {
    color: yellow;
}
h4 {
    color: turquoise;
}
p {
    color: paleturquoise;
}
img {
    height: 300px;
    width: 300px;
}